<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/styles/reset.css">
    <link rel="stylesheet" href="/src/static/styles/contact.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Faster+One&display=swap">
    <title>Document</title>
</head>
<body>
    <div class="titulo">Contacto</div>

    <div class="perfiles">
        <div class="perfil">
            <div class="profile-picture" id="andreu">               
            </div>
            <div class="container">
                <h2>Andreu</h2>
                <div class="content">
                    <div class="github">
                        <a href="https://github.com/andyfratello" target="blank">
                            <img src="/src/static/media/githubLogo.png"
                                height="25"
                                width="25"/>
                            andyfratello
                        </a>
                    </div>

                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/andreu-orensanz/" target="blank">
                            <img src="/src/static/media/linkedinLogo.png"
                                height="25"
                                width="25"/>
                            andreu-orensanz
                        </a>
                    </div>

                    <div class="instagram">
                        <a href="https://www.instagram.com/andreuorensanz/" target="blank">
                            <img src="/src/static/media/Instagram_logo.png" 
                                height="25"
                                width="25"/>
                                andreuorensanz
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="perfil">
            <div class="profile-picture" id="dani">               
            </div>
            <div class="container">
                <h2>Dani</h2>
                <div class="content">
                    <div class="github">
                        <a href="https://github.com/daniou" target="blank">
                            <img src="/src/static/media/githubLogo.png"
                                height="25"
                                width="25"/>
                            daniou
                        </a>
                    </div>

                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/daniel-oliveras-olea-0b833922b/" target="blank">
                            <img src="/src/static/media/linkedinLogo.png"
                                height="25"
                                width="25"/>
                            daniel-oliveras
                        </a>
                    </div>

                    <div class="instagram">
                        <a href="https://www.instagram.com/dani.ou/" target="blank">
                            <img src="/src/static/media/Instagram_logo.png" 
                                height="25"
                                width="25"/>
                            dani.ou
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="perfil">
            <div class="profile-picture" id="elias">               
            </div>
            <div class="container">
                <h2>Elias</h2>
                <div class="content">
                    <div class="github">
                        <a href="https://github.com/eliasfratello" target="blank">
                            <img src="/src/static/media/githubLogo.png"
                                height="25"
                                width="25"/>
                            eliasfratello
                        </a>
                    </div>

                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/elias-el-mrabet-abous/" target="blank">
                            <img src="/src/static/media/linkedinLogo.png"
                                height="25"
                                width="25"/>
                            elias-el-mrabet
                        </a>
                    </div>

                    <div class="instagram">
                        <a href="https://www.instagram.com/eliasel184/" target="blank">
                            <img src="/src/static/media/Instagram_logo.png" 
                                height="25"
                                width="25"/>
                            eliasel184
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>